@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(234, 224, 224, 0.8);
  z-index: -1;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: url('img/background.jpg');
}

#root {
  display: flex;
}

.container {
  width: 550px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 100px auto;
  text-align: center;
  color: #fff;
  background-color: rgb(146, 187, 221);
  border-radius: 10px;
  box-shadow: var(--shadow);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1, h2 {
  padding: 20px 0;
  border-bottom: 3px dotted #fff;
}

p {
  text-align: right;
  font-size: 12px;
  margin-top: 20px; 
}

.btn {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(146, 187, 221);
  border: none; 
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  padding: 20px 0 10px 0;
}

.person img {
  width: 70px; 
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.person button {
  cursor: pointer;
  color: #fff;
  background: none;
  border: none;
}

/* button-hover-effects */

.btn:hover {
  transform: scale(0.98);
}

.person button:hover {
  transform: scale(1.5);
}